.panel-left {
    width: calc(100% - 50px);
    max-width: 500px;
    height: 100%;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: translateX(-100%);
    transition: transform ease-in-out .3s;
    position: absolute;
    top: 0;
    background-color: white;
}

.panel-left.open {
    transform: translateX(0);
}

.panel-left .close {
    position: absolute;
    right: 0;
    top: 0;
}

.panel-left .close .icon {
    padding: 10px;
    transform: translateX(100%);
    background-color: white;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
}

.panel-left .icon-open {
    display: none;
}

.panel-left .icon-close {
    display: block;
}

.panel-left.closed .icon-open {
    display: block;
}

.panel-left.closed .icon-close {
    display: none;
}