.monster-stat {
    display: flex;
    border: 1px solid grey;
    padding: 20px;
    margin: 5px;
}

.monster-stat .column {
    display: flex;
    flex-direction: column;
}

.monster-stat .row {
    display: flex;
    align-items: center;
    margin: 2px 0
}

.monster-stat label {
    min-width: 150px;
}