body {
	margin: 0;
}

#canvas-fog {
	position: absolute;
	top: 0;
	left: 0;
}

.master-tools ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.master-tools li {
	max-width: 30%;
	margin: 1px;
}

.master-tools li img {
	width: 100%;
}

.master-tools .map {
	position: relative;
}

.component-login.user-logout {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.component-login form {
	display: flex;
	flex-direction: column;
}

.component-login label {
	margin: 5px 0
}

.component-login input {
	font-size: 22px;
	padding: 4px;
}

.component-login [type="submit"],
.component-login button {
	padding: 10px;
}

.component-login.user-login {
	display: flex;
	justify-content: flex-end;
}
