* {
	font-size: 24px;
	box-sizing: border-box;
}

body {
	margin: 0;
}

button,
input,
select {
	padding: 10px;
	border-radius: 5px;
}

legend {
	font-size: 42px;
	margin: 0 auto;
	text-transform: uppercase;
}

.rolls {
	font-size: 32px;
}
