.map-layer {
	position: relative;
}

.map-layer .actions {
	display: flex;
	/*justify-extra: center;*/
	/*align-items: center;*/
}

.map-layer .map-container {
	position: relative;
}

.map-layer #canvas-fog {
	position: absolute;
	top: 0;
	left: 0;
}
