.home {}

.home .header {
	border-bottom: 1px solid;
	display: flex;
}

.home .header-login {
	justify-content: center;
}

.home .container {
	display: flex;
}

.home .panel {}

.home .panel-content {
	overflow: auto;
	flex: 1
}
