.home {}

.home .header {
	border-bottom: 1px solid;
	display: flex;
}

.home .header-login {
	justify-content: center;
}

.home .header-logout {
	justify-content: space-between;
	flex-direction: row-reverse;
}

.home .container {
	display: flex;
}

.home .panel {}

.home .panel-center {
	flex: 1;
}

.home .panel-left,
.home .panel-right {
	padding-top: 10px;
}

.home .panel-left {
	width: 260px;
	border-right: 1px solid;
}

.home .panel-content {
	overflow: auto;
	flex: 1
}

.home .panel-right {
	width: 260px;
	border-left: 1px solid;
}

.home .panel-right.big {
	width: auto;
}
