.dice-roller {
}

.dice-roller .inputs {
	display: flex;
}

.dice-roller label {
	margin: 4px 2px;
	display: flex;
	flex-direction: column;
}

.dice-roller input,
.dice-roller select {
}

.dice-roller input {
	max-width: 70px;
}

.dice-roller select {
}

.dice-roller button {
	width: 100%;
}

.dice-roller .roll {
}

.dice-roller span {
	font-size: 18px;
}
